@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 327 47% 94%; /* Light Pink */
    --foreground: 333 30% 20%;
    --card: 330 50% 98%;
    --card-foreground: 333 30% 20%;
    --popover: 330 50% 98%;
    --popover-foreground: 333 30% 20%;
    --primary: 333 65% 50%; /* Deep Pink */
    --primary-foreground: 330 100% 98%;
    --secondary: 327 30% 88%;
    --secondary-foreground: 333 30% 20%;
    --muted: 327 30% 88%;
    --muted-foreground: 333 25% 40%;
    --accent: 273 100% 64%; /* Light Purple */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 333 20% 80%;
    --input: 330 20% 90%;
    --ring: 273 100% 64%;
    --chart-1: 333 65% 50%;
    --chart-2: 273 100% 64%;
    --chart-3: 350 70% 60%;
    --chart-4: 310 60% 55%;
    --chart-5: 290 80% 70%;
    --radius: 0.75rem;

    --sidebar-background: 330 60% 30%;
    --sidebar-foreground: 330 30% 96%;
    --sidebar-primary: 330 100% 98%;
    --sidebar-primary-foreground: 333 65% 50%;
    --sidebar-accent: 333 65% 50%;
    --sidebar-accent-foreground: 330 100% 98%;
    --sidebar-border: 330 50% 40%;
    --sidebar-ring: 273 100% 70%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 333 70% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 273 100% 70%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 333 70% 55%;
    --chart-1: 333 70% 55%;
    --chart-2: 273 100% 70%;
    --chart-3: 350 70% 60%;
    --chart-4: 310 60% 55%;
    --chart-5: 290 80% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
